name: test

on:
  workflow_dispatch:
  push:
    branches:
      - '*'
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'
  workflow_run:
    workflows: [Test schedule]
    types:
      - completed
    branches:
      - master

permissions:
  contents: read
  pull-requests: read

jobs:
  test:
    runs-on: ubuntu-latest
    if: ${{ github.event_name != 'workflow_run' || github.event.workflow_run.conclusion == 'success' }}
    strategy:
      matrix:
        python-version: ['3.9', '3.10', '3.11', '3.12']
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
      - run: |
          python -m pip install -U pip
          python -m pip install --use-pep517 -e '.[dev]'
      # Enable `sys.monitoring` for 3.12 to improve coverage tests performance
      # See GitHub issue: nedbat/coveragepy#1665
      - run: echo "COVERAGE_CORE=sysmon" >> $GITHUB_ENV
        if: matrix.python-version == '3.12'
      - run: make test_coverage
        env:
          PYTHONWARNINGS: default
      - run: |
          make coverage_report
          make github_pages REPO=${{ github.repository }} SHA=${{ github.sha }}
        if: github.ref_name == 'master' && matrix.python-version == '3.12'
      - uses: actions/upload-pages-artifact@v3
        if: github.ref_name == 'master' && matrix.python-version == '3.12'

  deploy:
    if: github.ref_name == 'master'
    needs: test
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
